<!DOCTYPE html>
<html>
 <head>
  <title>
   <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>
  <h1><%= heading %></h1>
  <form method="POST" action="/new">
   <label for="user">User:</label>
   <input type="text" name="user">
   <label for="text">Text:</label>
   <input type="text" name="text">
   <button type="submit">Submit</button>
  </form>
 </body>
</html>